h1{
    margin-left: 4%;
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    margin-top: 1%;
}

#about {
    margin-left: 0%;
}

h2 {
    color: #ffffff;
}

body {
    background: #181818;
}

ul{
    list-style: none;
    margin-left: 4%;
    transform: translate(0, -30px);
}

#about-link {
    margin-left: 4%;
    margin-bottom: 10%;
}

#nodata{
    padding-left: 150px;
}

/* #stacked-bar-chart{
    margin-top: 10%;
    transform: translate(-50px, 0);
} */

#stacked-bar-chart{
    transform: translate(-95px, 0);
}

#key{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 12px;
    width: 600px;
    margin-left: 4%;
    margin-top: 5%;
}

#keyArea{
    font-size: 12px;
}

#key i{
    padding-right: 4px
}

#map {
    margin-left: 15px;
    margin-right: 40px;
}

#blurb{
    margin-top: 25px;
    margin-left: 4%;
    font-size: 16px;
    transform: translate(0, -20px);
    font-weight: lighter;
    color: #fff;
}

#map-area{
    margin-top: 1%;
    color: #878787;
}

#info{
    color: #CBCBCB;
    text-align: left;
    margin-top: 2%;
    margin-right: 1%;
    padding-left: 70px;
}

/* #info{
    color: #CBCBCB;
    text-align: left;
    margin-top: 2%;
    margin-right: 1%;
    padding-left: 50px;
} */

/* #info li{
    margin-left: 90%;
    font-size: 12px; 
} */

#info li{
    margin-left: -10%;
    font-size: 12px; 
}

/* div #info{
    transform: translate(-80px, 0);
}

#info ul{
    transform: translate(0px, 50px)
} */

div #info{
    transform: translate(-75px, 0);
}

#info ul{
    transform: translate(10px, 50px)
}

section{
    height: 100vh;
    overflow: hidden;
}
#countryName{
    font-size: 30px;
}

#selectedCountry{
    font-size: 45px;
    padding-right: 4px;
}

#countrySus{
    font-size: 28px;
}

li{
    font-size: 20px;
    float: left
}
i{
    padding-right: 32px;
    font-size: 12px;
    font-family: sans-serif;
}

p{
    padding-top: 10px;
    display: inline-block;
    left: 0;
    font-size: 12px;
    color: #fff
    
}

#move{
    margin-left: 20%;
}

#low{
    padding-right: 132px;
}
#high{
    /* margin-right:100px; */
    padding-right: 110px;
}
#nodata p{
    font-size: 16px;
}

